@font-face
{
    font-family: JetBrainsMono;

    src: url(assets/fonts/JetBrainsMono-Regular.woff2);
}

/*==================================================================================================
    Reset / Base Styles
==================================================================================================*/
html,
body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

/*==================================================================================================
    Global
==================================================================================================*/
html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'eurostile', sans-serif;

    min-width: 320px;
    height: 100%;

    color: white;
}

/*==================================================================================================
    CONTENT CONTAINER
==================================================================================================*/
.container
{
    display: flex;

    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/*==================================================================================================
    MAIN
==================================================================================================*/
main
{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

/*==================================================================================================
    NAVIGATION BAR
==================================================================================================*/
.navbar
{
    position: sticky;
    z-index: 1000;
    top: 0;

    background-color: rgb(31, 28, 44);
}

.navbar > .container
{
    align-items: center;
    justify-content: space-between;

    padding: .5rem;
    padding-left: 1.5rem;
}

.navbar__logo
{
    height: 3.5rem;
}

/*==================================================================================================
    NAVIGATION LINKS
==================================================================================================*/
.navbar__link
{
    font-size: 1.25rem;

    position: relative;

    padding: 10px;

    transition: color .3s ease-in-out;
    text-decoration: none;

    color: rgba(255, 255, 255, .5);
    border: none;
    background: none;
}

.navbar__link:hover
{
    color: rgb(239, 192, 82);
}

/* Dot Under Navigation Items (.navbar__link::after)

   This dot will show which section you are in based on whick nav item it appears
   under.
*/
.navbar__link::after
{
    position: absolute;
    bottom: -5px;
    left: 50%;

    display: block;

    width: 10px;
    height: 10px;

    content: '';
    transition: opacity .3s ease-in-out;
    transform: translateX(-50%);

    opacity: 0;
    border-radius: 100%;
    background-color: rgb(239, 192, 82);
}

.navbar__link--active::after
{
    opacity: 1;
}

/*==================================================================================================
    HERO
==================================================================================================*/
.hero
{
    position: relative;
    z-index: 1;

    height: 100vh;

    background-color: rgb(31, 28, 44);
}

.hero > .container
{
    align-items: center;
    justify-content: center;

    height: 100%;
}

.hero__title-group
{
    font-family: JetBrainsMono, monospace;
    font-size: clamp(2.5rem, 5vw, 3.5rem);

    position: relative;

    margin-bottom: 10rem;

    text-align: center;
}

.hero__name-highlight
{
    color: rgb(112, 85, 233);
}

/*==================================================================================================
    ABOUT
==================================================================================================*/
.about-section__intro-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-height: 90vh;
    margin-top: -15vh;

    background-color: rgb(80, 61, 165);
}

.about-section__intro-header
{
    font-size: clamp(1.75rem, 5vw, 2.25rem);

    text-align: center;
}

.about-section__intro-paragraph
{
    font-size: 1.3rem;
    font-size: clamp(1.15rem, 3vw, 1.3rem);

    max-width: 800px;

    text-align: center;
}

.about-sections-and-language-container
{
    display: flex;
    flex-direction: column;

    padding: 0;
}

.resume__link
{
    align-self: center;

    text-decoration: none;
}

.resume__button
{
    font-weight: bold;

    display: inline-block;

    width: 10rem;
    margin-top: 3vh;
    padding: .35rem;

    text-align: center;

    color: rgb(31, 28, 44);
    border-radius: 1rem;
    background-color: white;
}

/*==================================================================================================
    ABOUT-SUBSECTIONS (Info Cards)
==================================================================================================*/
.about-section__cards-container
{
    display: flex;
    align-items: start;
    justify-content: space-around;

    width: 100%;
    min-height: 90vh;
    padding-right: 2vw;
    padding-bottom: 10vh;
    padding-left: 2vw;

    background-color: rgb(31, 28, 44);

    gap: 2vw;
}

/* General Info Card Styling (Applies to all cards) */
.info-card
{
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: start;

    min-height: 82vh;
    margin-top: -10vh; /* Overlap with previous section section */
    padding: 2rem;

    transition: transform .3s ease-in-out;

    border-style: solid;
    border-color: rgba(255, 255, 255, .502);
    border-radius: 20px;
    background-color: rgb(31, 28, 44);
}

.info-card:hover
{
    transform: scale(1.05);
}

.info-card__icon-wrapper
{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.5rem;
    height: 3.5rem;
    margin-top: 5%;
}

.info-card__icon-wrapper::after
{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;

    width: 5rem;
    height: 5rem;

    content: '';
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: rgb(239, 192, 82);
}

.info-card__icon-image
{
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}

.info-card__primary-heading
{
    font-size: 1.75rem;

    position: relative;

    margin-bottom: 0;
}

.info-card__body
{
    width: 100%;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
}

/*  Team Projects Card (First Card)
***************************************************************************************************/
.info-card__icon-image--team-projects
{
    width: 3rem;
    height: 3rem;
}

.info-card__body--team-projects
{
    margin-top: -.4rem;
}

.team-project
{
    margin-bottom: 1.5rem; /* Space between project entries */
}

.team-project:last-child
{
    margin-bottom: 0;
}

.team-project__title
{
    margin-top: .5em;
    margin-bottom: .25em;
}

.team-project__meta
{
    font-size: .9rem;

    margin-bottom: .5em;

    color: rgb(201, 158, 57);
}

.team-project__contributions
{
    margin-bottom: .5em;
    padding-left: 20px;
}

/*  Education Card (Second Card)
***************************************************************************************************/
.info-card__body--education-details
{
    font-style: italic;

    margin-bottom: 1em;
}

.education-details__years
{
    color: rgb(239, 192, 82);
}

.education-details__degree
{
    font-size: 1.25rem;
    font-weight: bold;
    font-style: normal; /* Overrides italic from parent */

    display: block;
}

.education-details__school
{
    display: block;
}

.education-details__meta
{
    font-size: .9rem;
}

.info-card__secondary-heading
{
    font-size: 1.4rem;

    margin-top: 1.5rem;
    margin-bottom: 2.5rem; /* Space before the list of courses */
}

.info-card__class-list
{
    line-height: 2rem;

    margin-top: -2vh;
    padding-left: 3rem;

    list-style-position: outside;
}

.class-list__item
{
    margin-bottom: .25em;
}

/*  Hobbies Card (Third Card)
***************************************************************************************************/
.hobbies__title
{
    margin-top: 0;
    margin-bottom: .25em;
}

.hobbies__item
{
    margin-bottom: 1rem;
}

.hobbies__item-title
{
    color: rgb(239, 192, 82);
}

/*==================================================================================================
    ABOUT-SUBSECTIONS MEDIA-QUERIES
==================================================================================================*/
@media (max-width: 1300px)
{
    .about-section__cards-container
    {
        align-items: center;
        flex-direction: column;
        justify-content: start;

        gap: 5vh;
    }

    .info-card
    {
        align-items: center;

        width: clamp(30rem, 70vw, 80rem);
        margin-top: 0;

        text-align: center;
    }

    .info-card:hover
    {
        transform: none;
    }

    .info-card__body
    {
        width: 90%;
    }

    /* Team Projects
    ********************************************/
    .info-card--team-projects
    {
        margin-top: -10vh;
    }

    .info-card__body--team-projects
    {
        width: clamp(22rem, 40vw, 70rem);
    }

    .team-project__contributions
    {
        padding-left: 0;

        text-align: left;
    }

    .contributions__item
    {
        margin-bottom: 1rem;
    }

    /* Education
    ********************************************/
    .info-card__body--education-details
    {
        text-align: center;
    }

    .info-card__class-list
    {
        padding-left: 0;

        text-align: left;

        column-count: 2;
    }

    /* Hobbies
    ********************************************/
    .hobbies__list
    {
        padding-left: 0;

        list-style-type: none;
    }

    .hobbies__item
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .hobbies__item-description
    {
        width: clamp(22rem, 40vw, 70rem);
    }
}

@media (max-width: 850px)
{
    .info-card__class-list
    {
        column-count: 1;
    }
}

/*==================================================================================================
    LANGUAGES
==================================================================================================*/
.about-languages__cards-container
{
    display: flex;
    align-items: start;
    justify-content: center;

    padding-top: 10vh;
    padding-bottom: 10vh;

    background-color: rgb(31, 28, 44);
}

.languages
{
    font-size: 1.5rem;

    width: 50vw;
    min-height: 50vh;
    margin-top: -10vh;
    padding: 3vh;

    text-align: center;

    border-width: thick;
    border-style: solid;
    border-color: rgba(255, 255, 255, .502);
    border-radius: 20px;
    background-color: rgb(80, 61, 165);
}

.languages__main-header
{
    margin-bottom: 1.5rem;
}

.languages__entries
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 0 1rem;

    gap: 1.5rem;
}

.languages__entry
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    width: 12rem;
    height: 12rem;
    padding: 1rem;

    transition: background-color .3s ease-in-out;

    border-radius: 1rem;
}

.languages__entry:hover
{
    background-color: rgb(201, 158, 57);
}

.languages__entry .entry__image
{
    width: 5rem;
    height: 5rem;
    margin-top: 1.2rem;

    transition: transform .3s ease-in-out;
}

.languages__entry:hover .entry__image
{
    transform: scale(1.15);
}

.languages__entry .language-name
{
    font-size: 1.15rem;

    margin-bottom: -1rem;

    transition: opacity .3s ease-in-out;

    opacity: .1;
    color: white;
}

.languages__entry:hover .language-name
{
    opacity: 1;
}

/*==================================================================================================
    LANGUAGES (1300px)
==================================================================================================*/
@media (max-width: 1300px)
{
    .languages
    {
        width: clamp(30rem, 70vw, 80rem);
    }

    .languages__entries
    {
        flex-direction: row;

        gap: 1rem;
    }

    .languages__entry
    {
        width: 10rem;
        height: 10rem;
    }
}

/*==================================================================================================
    PROJECTS
==================================================================================================*/
.projects-section
{
    padding-top: 3vh;
    padding-bottom: 15vh;

    background-color: rgb(80, 61, 165);
}

.projects-section > .container
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-section__title
{
    font-size: clamp(2.5rem, 5vw, 3.5rem);

    padding: 5vh;
}

.projects-section__grid
{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    gap: 15vh;
}

.project-card
{
    display: flex;
    align-items: center;
    flex-direction: row;

    width: clamp(40rem, 70vw, 80rem);
    margin-right: auto;
    margin-left: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;

    transition: transform .5s ease-in-out;
    text-align: left;

    border-radius: 3rem;
    background-color: rgb(31, 28, 44);
}

.project-card__image-wrapper
{
    position: relative;
}

.project-card__container-image
{
    width: clamp(20rem, 30vw, 30rem);
    height: auto;
}

.project-card__text-content
{
    display: flex;
    flex: 1;
    flex-direction: column;

    padding-right: clamp(2rem, 5vw, 3rem);
    padding-left: clamp(2rem, 5vw, 3rem);
}

.project-card__title
{
    font-size: 1.5rem;

    text-align: center;
}

.project-card__description
{
    font-size: 1rem;

    padding-bottom: 2rem;
}

.project-card__repo-link
{
    align-self: center;

    text-decoration: none;
}

.button.project-card__repo-button
{
    font-weight: bold;

    display: inline-block;

    width: 10rem;
    padding: .35rem;

    text-align: center;

    color: rgb(31, 28, 44);
    border-radius: 1rem;
    background-color: white;
}

/* SPECIFIC FORMATTING */
.project-card--cache,
.project-card--command-logger
{
    align-self: flex-start;

    margin-left: -18%;
}

.project-card--cache > .project-card__container-image,
.project-card--command-logger > .project-card__container-image
{
    margin-left: -10%;
}

.project-card--rpc
{
    align-self: flex-end;

    margin-right: -18%;
}

.project-card--rpc > .project-card__container-image
{
    order: 2;

    margin-right: -10%;
}

.project--left-active
{
    transform: translateX(35.5%);
}

.project--right-active
{
    transform: translateX(-35.5%);
}

/*==================================================================================================
    PROJECTS (800px)
==================================================================================================*/
@media (max-width: 1000px)
{
    .project-card
    {
        display: flex;
        align-items: center;
        align-self: center;
        flex-direction: column;

        width: clamp(27rem, 70vw, 60rem);
        margin: 0;
    }

    .project-card__container-image
    {
        margin: 0;
    }

    .project--left-aligned
    {
        margin: 0;
    }

    .project--left-active
    {
        transform: translateX(0);
    }

    .project--right-active
    {
        transform: translateX(0);
    }

    /* Project specific
    ***************************************************/
    .project-card--rpc > .project-card__container-image
    {
        order: 0;

        margin-right: 0;
    }

    .project-card--cache > .project-card__container-image,
    .project-card--command-logger > .project-card__container-image
    {
        margin-left: 0;
    }
}

/*==================================================================================================
    CONTACT 
==================================================================================================*/
.contact-section
{
    height: 50vh;
    padding-top: 5vh;
    padding-bottom: 10vh;

    background-color: rgb(31, 28, 44);
}

.contact-section > .container
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-section__title
{
    font-size: 2rem;

    margin: 0;
    margin-top: 2vh;
}

.my-email
{
    margin-top: .5rem;
}

.social-icon
{
    width: 3rem;
    height: 3rem;
}
